body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

.h1,
h2,
h3 {
  margin: 0;
}

.container {
  align-items: center;
  /* width: 1158px;
  padding: 0 15px; */
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.contacts-list {
  /* display: flex; */
  flex-wrap: wrap;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  /* max-width: 100%; */
  object-fit: cover;
  width: 264px;
  height: auto;
  flex-shrink: 0;
}

.portfolio-img {
  display: block;
  /* прибирає нижній відступ у картинок */
  width: 100%;
  /* картинка тягнеться на всю ширину контейнера */
  height: auto;
  /* зберігає пропорції */
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  /* margin-right: 76px; */
  display: inline-block;
  padding: 16px 0;
}

.logo-part {
  color: #2e2f42;
}

.contacts {
  display: none;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.button:focus,
.button:hover {
  color: #404bbf;
}

.nav-list {
  display: none;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link.current {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  gap: 40px;
}

/* підкреслення */
.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  /* відстань від тексту */
  width: 100%;
  height: 2px;
  background-color: #404bbf;
}

.card-img {
  display: block;
  width: 264px;
}

.hero-section {
  background: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url("../images/Dark-bg.jpg");
  /* щоб картинка заповнювала всю секцію */
  background-position: center;
  /* центрування картинки */
  background-repeat: no-repeat;
  max-width: 100%;
  margin: 0 auto;
  padding: 72px 0;
  background-size: cover;
  background-position: center;
}

/* мобілка 2x */
@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi) {
  .hero-section {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url("../images/Dark-bg-mob-2x.jpg");
  }
}

/* планшет 1x */
@media screen and (min-width: 768px) {
  .hero-section {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url("../images/Dark-bg-tab.jpg");
    padding: 112px 0;
  }
}

/* планшет 2x */
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url("../images/Dark-bg-tab-2x.jpg");
  }
}

/* десктоп 1x */
@media screen and (min-width: 1158px) {
  .hero-section {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url("../images/Dark-bg-desk-1x.jpg");
    padding: 188px 0;
  }
}

/* десктоп 2x */
@media screen and (min-width: 1158px) and (min-device-pixel-ratio: 2),
screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url("../images/Dark-bg-desk-2x.jpg");
  }
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  /* трохи ближче до тексту */
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.item {
  display: block;
}

.hero-title {
  /* font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto 48px; */
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
  line-height: 1.11;
  max-width: 216px;
  letter-spacing: 0.02em;
  margin: 0 auto 72px;
  text-align: center;
}

.hero-button {
  font-family: inherit;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404BBF;
}

.section {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

/* Advantages */

.icon-box {
  display: none;
}

@media (min-width: 1158px) {
  .icon-box {
    display: block;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-item-title {
  /* font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: left; */
  font-weight: 700;
  font-size: 20px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-item {
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
  background-color: #fff;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 72px;
}

.advantages-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

/* Our Team */
.section-team {
  background-color: #f4f4fd;
}

.card-item {
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px;
  width: 264px;
  height: 428px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.card-item .container {
  padding: 32px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  background-color: #f4f4fd;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.card-team .social-link:hover,
.card-team .social-link:focus {
  background-color: #404bbf;
}

.social-item {
  width: 40px;
  height: 40px;
  gap: 16px;
}

.social-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--social-bg, #4d5ae5);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-team .social-icon {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

.card-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.card-team {
  background-color: #F4F4FD;
  border-radius: 0px 0px 4px 4px;
}

.card-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-left: 0;
  background-color: #FFF;
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  overflow: hidden;
  text-align: center;
}

.card-list {
  display: flex;
  /* gap: 24px; */
  gap: 72px;
  flex-wrap: wrap;
  width: fit-content;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0
}


/* Portfolio */
.portfolio-box {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio.section {
  padding-top: 103px;
  padding-bottom: 89px;
}

.portfolio-item .container {
  border: 1px solid #e7e9fc;
  border-top: none;
}

.title-portfolio {
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-item-title {
  margin-bottom: 8px;
  font-size: 1.25rem;
  font-weight: 600;
}

.portfolio-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-list {
  flex-wrap: wrap;
  gap: 24px;
  display: flex;
  row-gap: 48px;
}

.portfolio-item {
  background-color: #FFF;
  /* width: calc((100% - 48px) / 3); */
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-box {
  padding: 32px 0;
  text-align: center;
}

.social-wrapper {
  margin-top: 16px;
}

.card-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-left: 0;
  margin: 0;
  background-color: #FFF;
  border-radius: 0px 0px 4px 4px;
  /* width: calc((100% - 72px) / 4); */
  width: 264px;
  overflow: hidden;
}

.card-item-text {
  text-align: center;
}

.portfolio-item-text {
  position: absolute;
  top: 0;
  left: 0;
  background: #4d5ae5;
  color: #f4f4fd;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
}

.portfolio-item-cover {
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover .portfolio-item-text {
  transform: translateY(0);
}

.portfolio-item:hover {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.icon-box {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.icon {
  fill: currentColor;
  /* бере колір з батьківського тексту */
  color: #2e2f42;
  /* основний темний */
}

.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  padding: 8px;
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 24px;
}


/* Footer */


.footer-items {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-transform: lowercase;
}

.social-footer {
  display: flex;
  flex-direction: column;
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.social-icon-footer {
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
}

.page-footer .footer-items {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.footer-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-logo {
  display: inline-block;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 16px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;

}

.footer-logo-part {
  color: #f4f4fd;
}

.footer-info {
  /* margin-right: 120px; */
  flex-direction: column;
  display: flex;
}

.social-link-footer {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
  /* колір іконки */
}

.page-footer {
  background-color: #2e2f42;
  /* padding: 100px 0; */
  padding-bottom: 96px;
  padding-top: 96px;
  display: flex;
}

.footer-container {
  display: flex;
  flex-direction: column;
  /* вертикально */
  align-items: center;
  /* по центру */
  text-align: center;
  gap: 72px;
}

.page-footer .social-list {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}


.footer-input {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  display: flex;
  gap: 24px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}

::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-form {
  display: flex;
  gap: 24px;
  flex-direction: column;
  /* вертикально */
  gap: 16px;
  align-items: center;
  width: 100%;
}

.footer-form-btn .social-icon-footer {
  margin-left: 16px;
  fill: #ffffff;
}

.footer-form-btn {
  border-radius: 4px;
  padding: 8px 24px;
  height: 40px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  gap: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.footer-form-btn:hover {
  background-color: #404bbf;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  /* visibility: visible; */
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-close {
  border-radius: 4px;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  fill: #e7e9fc;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-icon {
  width: 8px;
  height: 8px;
  fill: #2e2f42;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Приховуємо справжній чекбокс */
.visually-hidden {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.visually-hidden:checked+.modal-check-label .modal-check-box {
  background-color: var(--accent-color, #404bbf);
  border: none;
  fill: var(--icon-color, #F4F4FD);
  /* для currentColor у SVG */
}

.modal-close:hover .close-icon,
.modal-close:focus .close-icon {
  fill: #fff;
}

.visually-hidden:checked+.modal-check-label .check-icon {
  fill: var(--icon-color, #F4F4FD);
}

.modal-check-box {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
  fill: transparent;
  display: inline-flex;
  margin-right: 8px;
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-input {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-label {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: inline-block;
  margin-bottom: 4px;
  display: block;
  margin-top: 8px;
  line-height: 1.17;
}

.input-icon {
  position: absolute;
  width: 18px;
  height: 24px;
  left: 16px;
  top: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-50%);
}


.modal-input:focus,
.modal-text-input:focus {
  border-color: #4D5AE5;
  outline: none;
}

.modal-input:focus+.input-icon {
  fill: #4D5AE5;
}

.input-wrapper {
  position: relative;
}

.modal-submit {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border-radius: 4px;
  gap: 10px;
  display: block;
  margin: 0 auto;
  border: none;
  padding: 0;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-check {
  display: none;
}

input[type="checkbox"]:checked+label .modal-check-box {
  background-color: #404bbf;
  border: none;
}

input[type="checkbox"]:checked+label .modal-check-box .check-icon {
  fill: #F4F4FD;
}

.modal-submit:hover,
.modal-submit:focus {
  background-color: #404bbf;
}

.modal-text-input:focus {
  border-color: #4D5AE5;
}

.modal-text-input {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

textarea.modal-text-input {
  border-radius: 4px !important;
  background-color: transparent !important;
}

.modal-check-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}

a {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-check:checked {
  border-radius: 2px;
  fill: #404bbf;
  border: none;
  background-color: #404bbf;
}

.modal-text-input:focus {
  border-color: #4D5AE5;
}

.check-icon {
  fill: transparent;
}

.privacy-link {
  color: #4d5ae5;
}

/* Відступи між input полями */
.modal-form-box.input-field {
  margin-bottom: 8px;
  /* Name, Phone, Email */
}

/* Відступ для textarea */
.modal-form-box.comment {
  margin-bottom: 16px;
  /* Comment */
}

/* Відступ для checkbox */
.modal-form-box.privacy {
  margin-bottom: 24px;
  /* Checkbox */
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

/* mobile-menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  padding-left: 16px;
  padding-right: 24px;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e7e9fc;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 24px;
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .mobile-menu-nav {
  margin-bottom: auto;
} */

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 168px;
}

.mobile-menu-link.current {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.mobile-menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}


.mobile-contacts {
  font-style: normal;
}

.mobile-contacts-list {
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
}

.mobile-contacts-link.blue {
  font-family: "Roboto", sans-serif;
  color: #4d5ae5;
}

.mobile-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.team-social-icon {
  fill: #f4f4fd;
}

.team-social-item .social-link:hover,
.team-social-item .social-link:focus {
  background-color: #31d0aa;
}

.team-icon .social-link:hover,
.team-icon .social-link:focus {
  background-color: #404bbf;
}

.team-social-item .social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list {
  display: flex;
  gap: 40px;
  margin-top: 48px;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }

  .logo {
    padding: 24px 0px;
    margin-right: 120px;
  }

  .header-menu-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link.current {
    position: relative;
  }

  .header-menu-link.current::after {
    content: "";
    width: 48px;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
  }

  .header-menu-list .header-menu-link:hover,
  .header-menu-list .header-menu-link:focus,
  .header-menu-list .header-menu-link:active,
  .header-menu-link.current {
    color: #404bbf;
  }

  .header-contacts-list .header-contacts-items:hover,
  .header-contacts-list .header-contacts-items:focus {
    color: #404bbf;
  }

  .header-contacts {
    font-style: normal;
    display: block;
  }

  .header-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-contacts-items {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {

  .contacts-link {
    font-size: 12px;
  }

  a {
    text-decoration: none;
  }

  .nav-list {
    display: flex;
  }

  .contacts {
    display: flex;
    font-style: normal;
  }

  .hero-section {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url("../images/Dark-tab.jpg");
    max-width: fit-content;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    /* margin: 0 auto 72px; */
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    min-width: 496px;
  }


  .container {
    width: 768px;
  }

  .advantages-list {
    gap: 72px 24px;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
  }

  .card-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  .card-list {
    column-gap: 24px;
    row-gap: 64px;
    width: fit-content;
    display: flex;
    justify-content: center;
  }

  .card-item {
    width: 264px;
    /* контейнер = картинка */
    flex-shrink: 0;
    /* щоб його не стискало в flex-контейнері */
  }

  .card-box {
    padding: 32px 16px;
  }

  .social-list {
    padding-top: 8px;
  }

  .portfolio.section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .portfolio-list {
    row-gap: 72px;
  }

  .container.footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    padding: 0 108px;
    text-align: left;
  }

  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    flex-direction: row;
    gap: 24px;
  }
}


@media screen and (min-width: 1158px) {

  a {
    text-decoration: none;
  }

  .nav-list {
    display: flex;
  }

  .contacts {
    display: flex;
    font-style: normal;
  }

  .hero-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url("../images/people-office.jpg");
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto 48px;
  }

  .logo {
    margin-right: 76px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container {
    width: 1158px;
  }

  .advantages-list {
    gap: 24px;
  }

  .icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .advantages-item {
    width: calc((100% - 72px) / 4);
    padding-right: unset;
  }

  .team-title {
    margin-top: 120px;
  }

  .card-item {
    width: calc((100% - 72px) / 4);
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    padding-right: unset;
  }

  .portfolio.section {
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
  }

  .card-list {
    gap: 24px;
  }

  .portfolio-list {
    row-gap: 40px;
  }

  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container.footer-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0;
    margin: 0 auto;
    padding: 0 15px;
    flex-wrap: nowrap;
  }

  .footer-logo {
    padding-top: 0;
    padding-bottom: 16px;
  }

  .social-footer {
    display: flex;
  }

  .footer-info {
    margin-right: 120px;
    max-width: 1158px;
  }

  .footer-info,
  .social-footer,
  .footer-form {
    align-items: flex-start;
    /* вирівнювання вліво */
    text-align: left;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
    /* у ряд */
    align-items: center;
    justify-content: flex-start;
    /* вирівняти вліво */
    gap: 16px;
    width: 100%;
    max-width: 100%;
    align-items: flex-start;
    justify-content: space-between;
  }

  .social-footer {
    /* padding: 0 15px; */
    margin-right: 80px;
  }

  .footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    text-align: left;
  }

  .footer-media {
    text-align: left;
    display: flex;
  }

  .footer-form-btn {
    min-width: 0;
    max-width: 100%;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 0;
  }

  .footer-email {
    width: 264px;
  }

}